<div class="table-responsive" *ngIf="lexico.length > 0">
  <table class="table table-borderless">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Línea</th>
        <th scope="col">Tipo</th>
        <th scope="col">Valor</th>
        <th scope="col">Posición</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of lexico" [ngClass]="{'table-danger': !data.ok}">
        <td>{{data.line}}</td>
        <td>{{data.type}}</td>
        <td>{{data.value}}</td>
        <td>{{data.position}}</td>
      </tr>
    </tbody>
  </table>
</div>
